:root {
    --metanno-toolbar-item-height: 2em;
    --metanno-toolbar-spacing: 4px;
}

.toolbar {
    display: flex;
    width: 100%;

    box-sizing: border-box;
    color: var(--jp-ui-font-color1);
    overflow: auto;

    border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
    box-shadow: var(--jp-toolbar-box-shadow);
    min-height: var(--jp-toolbar-micro-height);
    padding: var(--metanno-toolbar-spacing);
    z-index: 1;
}

.toolbar-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--metanno-toolbar-spacing);
}

.toolbar.toolbar-wrap .toolbar-content {
    flex-wrap: wrap;
}

.toolbar.toolbar-wrap {
    overflow: unset;
}

.toolbar-spacer {
    margin: calc((-1) * var(--metanno-toolbar-spacing)) calc(2 * var(--metanno-toolbar-spacing)) calc((-1) * var(--metanno-toolbar-spacing)) var(--metanno-toolbar-spacing);
    /*width: 1px;
    background: #dadada;*/
}

.toolbar div.toolbar-button {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    height: var(--metanno-toolbar-item-height);

    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: var(--metanno-toolbar-spacing);

    color: transparent;

    padding: 0;
    /*line-height: var(--jp-private-toolbar-height);*/
    border: none; /*1px solid var(--jp-toolbar-border-color);*/
    box-shadow: var(--jp-toolbar-box-shadow);
    border-radius: 2px 2px 2px 2px;
}

.toolbar-button:hover {
    filter: brightness(90%);
}

.toolbar-button > .toolbar-button-component {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;

    background: var(--jp-layout-color1);
    padding: 0 0px;
    font-size: 1em;
    /* height: 24px; */
    border-radius: 0;

    text-align: center;
    min-width: unset;
    min-height: unset;
}

.button {
    font-family: 'Open Sans', serif;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.container {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.toolbar-button > .toolbar-button-component > .toolbar-button-text,
.toolbar-button > .toolbar-button-component > .toolbar-button-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    margin: 0;

    font-weight: 700;
}

.toolbar-button > .toolbar-button-component > .toolbar-button-text {
    flex: 1;
    justify-content: center;
}

.toolbar-button > .toolbar-button-component > .toolbar-button-secondary {
    flex-grow: 0;
}

.toolbar-button > .toolbar-button-component > :last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}

.toolbar-button > .toolbar-button-component > :first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    overflow: hidden;
}

.toolbar-button > .toolbar-button-component > span {
    line-height: 0;
}


.toolbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.toolbar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}