@import url('//fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");

.span-editor {
    font-family: sans-serif;
    text-align: left;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.text {
    font-family: Verdana, Arial, sans-serif;
    /*font-family: 'Menlo', 'Hack', 'DejaVu Sans Mono', 'Roboto Mono', monospace;*/
    font-size: 0.92em;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 2.8em;
    color: var(--jp-ui-font-color1);
}

.line {
    margin-left: 41px;
}

.line-number {
    margin-left: -41px;
    width: 0;
    display: inline-block;
    padding: 0 30px 0 11px;
    color: #959da5;
}

.rdg.rdg.rdg {
    --color: var(--jp-content-font-color0);
    --border-color: var(--jp-border-color2);
    --summary-border-color: var(--jp-border-color2);
    --background-color: var(--jp-layout-color0);
    --header-background-color: var(--jp-layout-color2);
    --row-hover-background-color: var(--jp-rendermime-table-row-hover-background);
    --row-selected-background-color: var(--jp-rendermime-table-row-hover-background);
    --row-selected-hover-background-color: var(--jp-rendermime-table-row-hover-background);
    --checkbox-color: var(--jp-private-notebook-selected-color);
    --checkbox-focus-color: var(--jp-rendermime-table-row-hover-background);
    --checkbox-disabled-border-color: black;
    --checkbox-disabled-background-color: #333;
}

.rdg-cell a, .rdg-cell span {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.line-number,
.label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.text-chunk {
    word-break: break-word;
    white-space: pre-wrap;
    display: inline-block;
    position: relative;
}

.text-chunk-content {
    position: relative;
    z-index: 100;
}

.mention_token {
    position: relative;
    box-sizing: content-box;
    border-radius: 0.0000001em;
    --background-color: #f0f0f0;
    --border-color: #e6e6e6;
    display: inline-block;
    /*margin-top: -10000px;*/
    /*margin-bottom: -10000px;*/
    /*background: rgba(var(--jp-layout-color0), 0.8);*/
    /*border: 0.1em solid var(--jp-ui-font-color1);*/
    border-right-width: 0;
    border-left-width: 0;
    z-index: 0;
}

.mention_token {
    content: "";
    position: absolute;
    background-color: var(--background-color);
    border-color: var(--border-color);
    left: 0px;
    right: 0px;
    top: var(--vertical-offset);
    bottom: var(--vertical-offset);
    border-width: 2px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    z-index: -1;
}

.mention_token.highlighted {
    /*margin-right: -4px;*/
    border-top-width: 4px;
    border-bottom-width: 4px;
    /*top: -4px;*/
    /*bottom: -4px;*/
}

.mention_token.closedright.highlighted {
    /*margin-right: -4px;*/
    right: -4px;
    border-right-width: 4px;
}

.mention_token.closedleft.highlighted {
    /*margin-left: -4px;*/
    border-left-width: 4px;
    left: -4px;
}

.closedleft {
    left: -2px;
    border-left-width: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.closedright {
    right: -2px;
    border-right-width: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.mention_token.mouse_selected {
    line-height: 2.2em;
    background: rgba(137, 188, 250, 0.6); /*#b2d7ff88;*/
    border: none;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.mention_token.mouse_selected .label { /* -0.7 + (2.2em -> 1.45em)/2 */
   top: -0.4em;
}

.label:hover, .label.highlighted {
    z-index: 100 !important;
}

@keyframes blink {
    from, to {
        border-color: white
    }
    50% {
        border-color: black
    }
}

.mention_token.selected {
    animation: var(--blink-animation);
}

.label {
    box-sizing: content-box;
    position: absolute;
    white-space: pre;
    border-radius: 0.2em;
    font-size: 0.6em;
    padding: 0.7em 0.1em 0em;
    background: white;
    line-height: 0em;
    height: 0.6em;
    z-index: 2;
    background: var(--jp-layout-color0);
    color: var(--jp-ui-font-color1);
    border: 0.1em solid var(--jp-ui-font-color1);
}

/*.text.select_mode .mention_token.hover {
  filter: invert(100%);
}*/
