.rdg-cell .rdg-editor-container > div > .react-autosuggest__container {
    padding-left: 8px;
    padding-right: 8px;
    background: transparent;
    /*border-bottom: 1px solid #dddddd;*/
    margin-right: 0px;
    /*border-right: 1px solid #dddddd;*/
    box-sizing: border-box;
}

.rdg-cell .react-autosuggest__input {
    font-family: inherit;
    border: none;
    padding-left: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: var(--color);
    background: transparent;
}

.rdg-cell .react-autosuggest__input::-ms-clear {
    display: none;
}

.rdg-cell .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.rdg-cell .react-autosuggest__input--focused {
    outline: none;
}

.rdg-cell .react-autosuggest__suggestions-container {
    display: none;
}

.rdg-cell .rdg-editor-container > div {
    /*background: white;*/
}

.rdg-editor-container > div, .rdg-cell-value, .rdg-cell-value > div {
    height: 100%;
    width: 100%;
}

.rdg-editor-container > div > .react-autosuggest__container--open > .react-autosuggest__suggestions-container {
    left: -1px;
    right: 0px;
}

.rdg-cell .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 100%;
    min-width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-bottom-left-radius: 4PX;
    border-bottom-right-radius: 4PX;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.rdg-cell .react-autosuggest__suggestions-container--open::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.rdg-cell .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rdg-cell .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 5px;
}

.rdg-cell .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.rdg-cell .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
}

.rdg-cell .react-autosuggest__section-container-first {
    border-top: 0;
}

.rdg-cell .react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
}
