name: Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    name: Build and Publish Package
    runs-on: ubuntu-latest
    permissions:
      # Trusted Publishing to PyPI
      id-token: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: 'Set up Node'
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: 'Install hatch'
        run: pip install hatch

      - name: "Build source distribution"
        run: |
          hatch build -t sdist

      - name: "Build wheel distribution"
        run: |
          hatch build -t wheel

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: 'Set up Node'
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.10"
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: 'Set up Git'
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
          echo Current branch: $BRANCH_NAME

      - name: 'Install'
        run: |
          yarn install
          # install setuptools < 81 to fix issue with pkg_resources
          uv pip install -e . --group docs "setuptools<81"

      - name: Build documentation
        run: |
          git fetch origin gh-pages
          mike deploy --push --alias-type=copy --update-aliases $GITHUB_REF_NAME latest
